*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
}

#section1{
    /* border: 2px solid; */
    height: 80vh;
    width: 100%;
}

#section1 .demo{
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    top: 630px;
    right: 550px;
}

#section1 .image1{
    position: absolute;
    left: 150px;
    top: 795px;
    height: 150px;
    width: 150px;
}
#section1 .demo1{
    position: absolute;
    left: 110px;
    top: 965px;
    font-size: 21px;
    font-weight: bold;
}
#section1 .p1{
    position: absolute;
    left: 110px;
    top: 999px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

#section1 .image2{
   position: absolute;
   left: 460px;
   top: 795px;
   height: 150px;
   width: 150px;
}
#section1 .demo2{
    position: absolute;
    left: 470px;
    top: 966px;
    font-size: 21px;
    font-weight: bold;
}
#section1 .p2{
    position: absolute;
    left: 440px;
    top: 999px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
#section1 .p2 #g1{
    position: absolute;
    left: 40px;
    top:25px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

#section1 .image3{
    position: absolute;
    left: 820px;
    top: 795px;
    height: 150px;
    width: 150px;
}
#section1 .demo3{
    position: absolute;
    right: 500px;
    top: 968px;
    font-size: 21px;
    font-weight: bold;
}

#section1 .p3{
    position: absolute;
    left: 810px;
    top: 999px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
#section1 .p3 #g2{
    position: absolute;
    left: 50px;
    top: 30px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}


#section1 .image4{
    position: absolute;
    right: 200px;
    top: 795px;
    height: 150px;
    width: 150px;
}
#section1 .demo4{
    position: absolute;
    right: 185px;
    top: 967px;
    font-size: 21px;
    font-weight: bold;
}

#section1 .p4{
    position: absolute;
    right: 150px;
    top: 999px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
#section1 .p4 #g3{
    position: absolute;
    left: 30px;
    top: 25px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
